<!DOCTYPE>
<html>

<head>
    <title>Foodies Parlor</title>
    <link rel="stylesheet" type="text/css" href="SecondPageCSS.css">
</head>

<body>
    <div style="background:black;">
        <center><img src="foodies.png" alt="Foodies" /></center>
        <center>
            <h2>Welcome!!</h1>
                <p style="color:white;">Foodie, is this your first time here? Worry not, your hunger is our game.</p>
        </center>
    </div>
    <div style="background:beige;">
        <h1>About!</h1>
        <p>Foodies Parlor is a safe haven for all who love hunger games. Here, your desire needs not be suppressed.
            Instead, unleash your inner hunger and let it shine <b>
                <emp>^_~ lol</emp>
            </b>.
            We devote our time to giving you a gateway to making amazing foods that will leave your taste buds
            salivating for more and dancing the tarantula. <span style="color:red;">Still not convinced?
                Dive down into our specials</span> and let us impress your buds and sweep them off their positions.
            All the best buddy; you need it in deciding which receipe to leave out😂😂!!
        </p>
    </div>
    <div style="background:whitesmoke; border: 1px solid black;">
        <p>Here is one sneek pic receipe of what we offer. Enjoy and <b>remember</b> to keep the game going by <span
                style="color:red;">clicking
                the
                links below</span></p>
        <h3><b><u>Corned Beef</u></b></h3>
        <img src="corned_beef.png" alt="corned_beef" />
        <h4>Timings</h4>
        <table border="0" style="table-layout:fixed;">
            <tr><i>Prep time:</i>15 mins &nbsp;</tr>
            <tr><i>Cook time:</i>5hrs</tr>
            <br><br>
            <tr><i>Total time:</i>5 hrs15 mins &nbsp;</tr>
            <tr><i>Servings:</i>8</tr>
        </table>
        <h4><b>Ingredients</b></h4>
        <ul type="circle">
            <li>1 (5 1/2 pound) corned beef brisket with spice packet</li>
            <li>7 small potatoes, peeled and diced</li>
            <li>4 medium carrots, peeled and diced</li>
            <li>1 medium onion, diced</li>
            <li>3 cloves garlic, chopped</li>
        </ul>
        <h4><b>Preparations</b></h4>
        <ol type="1.">
            <li>Preheat the oven to 300 degrees F (150 degrees C)</li>
            <li>Place corned beef brisket in the center of a roasting pan. Arrange potatoes and carrots around the
                sides, then scatter onion and garlic over top. Sprinkle seasoning packet over beef, then pour in water
                until potatoes are almost covered. Cover with a lid or heavy aluminum foil.</li>
            <li>Roast in the preheated oven until corned beef is so tender it can be flaked apart with a fork, about 5
                to 6 hours</li>
            <li>Serve hot and enjoy with the accompaniment of your choosing</li>
        </ol>
    </div>
    <div style="background:rgb(234, 228, 228);">
        <center>
            <h4><b>Click the link of your choosing to view the desired receipe</b></h4>
        </center>
        <table border="fixed">
            <tr>
                <th>Meaty Foods</th>
                <th>Vegies</th>
            </tr>
            <tr>
                <td><a href="https://www.allrecipes.com/recipe/8470679/korean-barbecue-style-meatballs/">Korean BBQ
                        Meatballs</a> &nbsp;</td>
                <td><a href="https://www.thekitchn.com/veggie-sandwich-recipe-23395408">Roated Broccoli...</a></td>
            </tr>
            <tr>
                <td><a href="https://www.allrecipes.com/recipe/20680/easy-mexican-casserole/">Mexican Casserole
                        &nbsp;</a></td>
                <td><a href="https://www.thekitchn.com/caprese-sandwich-recipe-23169471">Caprese Sandwich</a></td>
            </tr>
            <tr>
                <td><a
                        href="https://www.allrecipes.com/recipe/74360/the-best-meatloaf-ive-ever-made/">Meatloaf</a>&nbsp;
                </td>
                <td><a href="https://www.thekitchn.com/egg-souffle-sandwich-recipe-23159045">Egg Souffle` Sandwich</a>
                </td>
            </tr>
            <tr>
                <td><a href="https://www.allrecipes.com/recipe/58942/absolute-best-liver-and-onions/">Liver and
                        Onions</a>&nbsp;</td>
                <td><a href="https://www.thekitchn.com/smashed-carrot-salad-23323894">Smashed Carrot Salad</a></td>
            </tr>
            <tr>
                <td><a href="https://www.allrecipes.com/recipe/49404/juiciest-hamburgers-ever/">Hamburger</a>&nbsp;</td>
                <td><a href="https://www.thekitchn.com/smashed-chickpea-salad-sandwiches-22971270">Chickpea Salad
                        Sandwich</a></td>
            </tr>
            <tr>
                <td><a href="https://www.allrecipes.com/recipe/19344/homemade-lasagna/">Homemade Lasagna</a>&nbsp;</td>
                <td><a href="https://www.thekitchn.com/cauliflower-banh-mi-268365">Grilled Open_Faced Cauliflower Bahn
                        Mi</a></td>
            </tr>
            <tr>
                <td><a href="https://www.allrecipes.com/recipe/21353/italian-spaghetti-sauce-with-meatballs/">Italian
                        Spaghetti with Meatballs</a>&nbsp;</td>
                <td><a href="https://www.thekitchn.com/recipe-pressed-broccoli-rabe-and-mozzarella-sandwiches-261457">Pressed
                        Broccoli Rabe and Mozzarella Sandwich</a></td>
            </tr>
            <tr>
                <td><a href="https://www.allrecipes.com/recipe/100606/beef-bulgogi/">Beef Bulgogi</a>&nbsp;</td>
                <td><a href="https://www.thekitchn.com/broccoli-reuben-265100">Broccoli Reuben Sandwich</a></td>
            </tr>
            <tr>
                <td><a href="https://www.allrecipes.com/recipe/18074/marinated-flank-steak/">Marinatef Flank
                        Steak</a>&nbsp;</td>
                <td><a href="https://www.thekitchn.com/springy-noodle-stir-fry-recipe-23316765">Springy Noodle
                        Stir-Fry</a></td>
            </tr>
            <tr>
                <td><a href="https://www.allrecipes.com/recipe/260697/mississippi-pot-roast/">Mississippi Pot
                        Roast</a>&nbsp;</td>
                <td><a href="https://www.thekitchn.com/ratatouille-stir-fry-recipe-23201043">Ratatouille Stir-Frey</a>
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <img src="foodies_end.png" alt="Foodies" /> <img src="foo.png" alt="food" /> <img src="fufu.png" alt="food" /> <img
        src="feed.png" alt="foods" />

    <div style="background:black;">
        <center>
            <h2><u><i>Foodies Parlor</i></u></h2>
        </center>
        <p style="color:white;">We hope you have found what your stomach desired. If not, do not worry coz we still
            gatch😉. Our website is under constant updates and upgrades. Therefore, it is safe to say that your stomach
            will always get what it wants or what it needs. Either way, a win is a win. As a parting shoert, choose us
            because we choose to fill you.</p>
        <p style="color:white;">Hungry for more? Here are some external websites that will help you out:
        <ul type="circle" style="color:beige;">
            <li><a href="https://www.allrecipes.com/recipes/201/meat-and-poultry/chicken/">Chicken Meat Receipes</a>
            </li>
            <li><a href="https://www.allrecipes.com/recipes/202/meat-and-poultry/game-meats/">Game Meats</a></li>
            <li><a href="https://www.allrecipes.com/recipes/205/meat-and-poultry/pork/">Pork</a></li>
            <li><a href="https://www.allrecipes.com/recipes/16546/meat-and-poultry/sausage/">Sausage</a></li>
            <li><a href="https://www.thekitchn.com/10-dinners-that-are-mostly-vegetables-250208">Vegetable Dishes</a>
            </li>
        </ul>
        </p>
        <p style="color:white;">For further communication, reaching out, requests, suggestions, or complaints, reach us
            with the email below:
        </p>
        <a style="color:white;" href="mailto: dayanasylus@gmail.com?subject=Foodies Parlor">Please send emails here</a>
        <hr>
        <p style=" color:white; font-size:smaller;"><b>Website designed by: Group BiDGilMuNK</b></p>
    </div>
</body>

</html>